
body {
    font-family: cursive;
    background-image: url("https://media.istockphoto.com/vectors/board-games-pattern-vector-id1090601642?k=20&m=1090601642&s=612x612&w=0&h=BzRBRaD-Yr7vkY0QwXuFDd3UCcE6MCYQQbbspkpu0UE=");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-size: 100px;
    text-align: center;
}
.board {
    display: grid;
    width: 700px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    border: 5px solid black;
    border-radius: 5px;
    background: rgb(44, 52, 122);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}
  
.cell {
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    background-color: antiquewhite;
}
  
.message {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 30%;
    width: 40%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:blanchedalmond;
    margin-top: 10px;
    background-color:rgb(86, 48, 189);
    border-radius: 10%;
}

button {
    align-self: center;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    transition: all .35s;
}
button:hover{
    color: #fff;
    background-color: #ff003b;
    transition: all .35s;
}
